<!DOCTYPE html>
<html>
	<head>
		<title>{{ page_title }}</title>
		<!-- Bootstrap -->
		<meta charset="utf-8">
		<link href="/static/css/cerulean_bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet">
		<link href="/static/css/social-buttons-3.css" rel="stylesheet">
		<link href="/static/css/bootstrap-tour.min.css" rel="stylesheet">
		<link href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css" rel="stylesheet">

		<link href="/static/css/bootstrap-markdown.min.css" rel="stylesheet">
		<link href="/static/css/owl.css" rel="stylesheet">
		<!--
		<link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
		-->

		<!-- <link href="/static/css/non-responsive.css" rel="stylesheet"> -->

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
		<script src="/static/js/jquery-1.10.2.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/bootstrap-tour.min.js"></script>
		<script src="/static/js/bootstrap-tour.min.js"></script>
		<script src="/static/js/bootstrap-markdown.js"></script>
		<script src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
		<script>
			$(document).ready(function() {
				//глобальный поиск из base.html
				var hidden_type = $("#id_search");
				var q_input = $("#id_q")
				$("#search_user").click(function() {
					hidden_type.val('user');
					q_input.attr('placeholder', "Поиск по пользователю");
					q_input.val("");
				});
				$("#search_event").click(function() {
					hidden_type.val('event');
					q_input.attr('placeholder', "Поиск по событию");
					q_input.val("");
				});
				$("#search_title").click(function() {
					hidden_type.val('title');
					q_input.attr('placeholder', "Поиск по названию");
					q_input.val("");
				});
			});
		</script>
	</head>
	<body>
		<nav class="navbar navbar-default no-margin" role="navigation">
			<div class="col-sm-12">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">СОВА</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-left">
						<li>
							<a href="#">Видеозаписи</a>
						</li>
						<li class="divdider"></li>
						<li>
							<a href="#">События</a>
						</li>
						<li>
							<a href="#" id="start_tour">Demo</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">

						<!--
						<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown">User&#32;<b class="caret"></b></a>
						<ul class="dropdown-menu">
						<li class="dropdown-header">Видеоархив</li>
						<li class="disabled"><a href="#">Добавить событие</a></li>
						<li><a href="#">Мои видеозаписи</a></li>
						<li class="divider"></li>
						<li class="dropdown-header">Аккаунт</li>
						<li><a href="#">Настройки</a></li>
						<li><a href="#">Выйти <i class="fa fa-sign-out" style="color: rgb(153, 153, 153)"></i></a></li>
						</ul>
						</li> -->

						<li>
							<a href="#">Вход</a>
						</li>
						<li>
							<a href="#">Регистрация</a>
						</li>

					</ul>
					<form method="get" action="#" class="col-sm-4 menu_search">
						<div class="input-group">
							<div class="input-group-btn">
								<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
									<i class="fa fa-adjust"></i><i class="fa fa-caret-down"></i>
								</button>
								<ul class="dropdown-menu">
									<li class="dropdown-header">
										Искать по
									</li>
									<li>
										<a id="search_title" href="#">названию</a>
									</li>
									<li>
										<a id="search_event" href="#">событию</a>
									</li>
									<li>
										<a id="search_user" href="#">пользователю</a>
									</li>
								</ul>
							</div><!-- /btn-group -->
							<input id="id_search" name="search" type="hidden" value="title" />
							<input class="form-control form-sm" id="id_q" maxlength="255" name="q" placeholder="Поиск по названию" type="text" />
							<span class="input-group-btn">
								<button class="btn btn-success btn-sm" type="submit">
									Найти <i class="fa fa-search"></i>
								</button> </span>
						</div><!-- /input-group -->
					</form>

				</div>
			</div>
		</nav>

		<div class="container top_pad bottom_pad main_content" style="background-color: #fff;">

			<p>
				<!--content-->

				<div class="col-md-12">
					<ol class="breadcrumb">
						<li>
							<a href="#">Home</a>
						</li>
						<li>
							<a href="#">Library</a>
						</li>
						<li class="active">
							Data
						</li>
					</ol>
					<div class="panel with-nav-tabs panel-primary">
						<div class="panel-heading">
							<ul class="nav nav-tabs">
								<li class="active">
									<a href="#tab1primary" data-toggle="tab">Сведения</a>
								</li>
								<li>
									<a href="#tab2primary" data-toggle="tab">Просмотр</a>
								</li>
								<li>
									<a href="#tab3primary" data-toggle="tab">Комментарии</a>
								</li>

							</ul>
						</div>
						<div class="panel-body p0">
							<div class="tab-content">
								<div class="tab-pane fade in active" id="tab1primary">

									<div class="panel panel-default infofield">
										<div class="panel-body">
											<h1 class="diskname">File name</h1><h5 class="diskdate">&nbsp;&nbsp; Создан:28/08/2014</br>Изменён:14/11/2014</h5></br></br></br>

											<p>
												<b>Тип:</b> видеофайл <i class="glyphicon glyphicon-film"></i>
											</p>
											<p>
												<b>Владелец:</b> admin@gmail.com (<a href="">Profile</a>)
											</p>
											<p>
												<b>Размер:</b> 21.6 мб
											</p>
											<p>
												<b>Проект:</b><a href="">name_pr</a>
											</p>

										</div>
									</div>

									<div class="panel panel-default infofield">
										<div class="panel-body bt p10">
											<i class="glyphicon glyphicon-th"></i> Events
										</div>
										<div class="panel-body bt">
											<span class="label label-warning"><span class="glyphicon glyphicon-picture"></span> photo_event</span>
											<span class="label label-danger"><span class="glyphicon glyphicon-facetime-video"></span> video_event</span>
											<span class="label label-success"><span class="glyphicon glyphicon-headphones"></span> music_event</span>
											<p class="fr colgrey">
												<a href=""> Поиск по категориям.</a>
											</p>
										</div>
									</div>

									<div class="panel panel-default infofield">
										<div class="panel-body bt p10">
											<i class="glyphicon glyphicon-zoom-in"></i> Дополнительная информация
										</div>
										<div class="panel-body bt">
											<p>
												<b>Хеш:</b>7DD987F846400079F4B03C058365A4869047B4A0
											</p>
											
										</div>
									</div>
									<div class="panel-group mb0" id="accordion" role="tablist" aria-multiselectable="true">

										<div class="panel panel-default accordfield_bot">
											<div class="panel-heading headfield" role="tab" id="headingTwo">
												<h4 class="panel-title"><span> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> <i class="glyphicon glyphicon-sort-by-alphabet"></i> Мета информация </a></span></h4>
											</div>
											<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
												<div class="panel-body">
													Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
												</div>
											</div>
										</div>
									</div>

									<div class="panel-group mb0" id="accordion" role="tablist" aria-multiselectable="true">

										<div class="panel panel-default accordfield_bot">
											<div class="panel-heading headfield" role="tab" id="headingThree">
												<h4 class="panel-title"><span> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> <i class="glyphicon glyphicon-align-justify"></i> Описание </a></span></h4>
											</div>
											<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
												<div class="panel-body">
													Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
												</div>
											</div>
										</div>
									</div>

								</div>
								<div class="tab-pane fade p0" id="tab2primary">

									<iframe width="100%" height="346" src=
									"http://www.youtube.com/embed/iMKPx3pUGlA?hl
									=ru&fs=1" frameborder="0" allowfullscreen></iframe>
								</div>
								<div class="tab-pane fade p10" id="tab3primary">
									<form>
										<div class="input-group">
											<div class="input-group-addon">
												Имя
											</div>
											<input class="form-control" type="email" placeholder="Введите ваше имя">
										</div></br>
										<textarea name="content" data-provide="markdown" rows="10" data-savable="true"></textarea>																				



									</form> </br></br>

									<ul class="media-list">
										<li class="media">
											<a class="pull-left" href="#"> <img src="/static/img/AT.gif" class="img-rounded" style="width: 64px; height: 64px;"> </a>
											<div class="media-body">
												<h5 class="media-heading"><a href="#">User_name</a><span class="small text-muted">12.12.12</span></h5>
												<p>
													Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
												</p>
												<!-- Nested media object -->
												<div class="media">
													<a class="pull-left" href="#"> <img src="/static/img/AT.gif" class="img-rounded" style="width: 64px; height: 64px;"> </a>
													<div class="media-body">
														<h5 class="media-heading"><a href="#">User_name</a><span class="small text-muted">12.12.12</span></h5>
														<p>
															Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
														</p>
														<!-- Nested media object -->
														<div class="media">
															<a class="pull-left" href="#"> <img src="/static/img/AT.gif" class="img-rounded" style="width: 64px; height: 64px;"> </a>
															<div class="media-body">
																<h5 class="media-heading"><a href="#">User_name</a><span class="small text-muted">12.12.12</span></h5>
																<p>
																	Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
																</p>
															</div>
														</div>
													</div>
												</div>
												<!-- Nested media object -->
												<div class="media">
													<a class="pull-left" href="#"> <img src="/static/img/AT.gif" class="img-rounded" style="width: 64px; height: 64px;"> </a>
													<div class="media-body">
														<h5 class="media-heading"><a href="#">User_name</a><span class="small text-muted">12.12.12</span></h5>
														<p>
															Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
														</p>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>

							</div>
						</div>
					</div>
				</div>

			</p><!--content-->

		</div>
		<footer class="container">
			<div class="text-center">
				<span class="text-muted">Copyright@2014</span>
			</div>
		</footer>
		<script>
			$(document).ready(function() {

				$('#example').dataTable({
					"bFilter" : false,
					"language" : {
						"lengthMenu" : "Показать _MENU_ наименований на каждой странице",
						"info" : "Показана страница _PAGE_ из _PAGES_",
						"paginate" : {
							"first" : "First",
							"last" : "Last",
							"next" : "Вперёд",
							"previous" : "Назад"
						},
					}

				});

			});

		</script>
	</body>
</html>
